* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Backgrounds */
  --main-bgc: #fefefe;
  --sec-bgc: #945a9a;
  --thi-bgc: #e5d2e6;

  /* Text colors */
  --main-color: #000000;
  --sec-color: #ffffff;

  /* Alerts */
  --success: #2dd912f2;
  --error: #cc2727f2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: clamp(1.6rem, 1.18vw, 1.9rem);
  line-height: 2.5rem;
  font-style: normal;
  background-color: var(--main-bgc);
  color: var(--main-color);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 15rem;
  justify-content: center;
  align-items: center;
}

.section-wrapper {
  padding-top: clamp(3.6rem, 4.4vw, 5.6rem);
  padding-bottom: clamp(3.6rem, 4.4vw, 5.6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(3.6rem, 3.5vw, 6rem);
}

/* HEADER */

header {
  background-color: var(--sec-bgc);
  color: var(--sec-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
}

#header {
  flex-direction: row;
  justify-content: space-between;
}

#header img {
  width: 20%;
  height: auto;
}

#main-menu {
  display: flex;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 1.5rem;
}

.menu-item {
  text-decoration: none;
  color: var(--sec-color);
  font-size: large;
  transition: all 0.3s ease;
}

/* MOBILE MENU */
.menu-button {
  background: none;
  border: none;
  color: var(--sec-color);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.logo-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.menu-close-button {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--sec-color);
  position: absolute;
  top: 1.5rem;
  right: 15rem;
}

/* PROJECTS */

.projects {
  background-color: var(--thi-bgc);
}

/* CONTACT */

.contact {
  background-color: var(--thi-bgc);
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-form {
  flex: 1 1 50%;
  background-color: var(--sec-bgc);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 2.5rem;
}

#contact-form label {
  width: 100%;
  text-align: left;
  font-size: medium;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  outline: none;
  resize: none;
}

.form-image {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container img {
  width: 50%;
}

#contact-form input.input-error,
#contact-form textarea.input-error {
  border: 0.125rem solid var(--error);
}

.error-message {
  width: 100%;
  text-align: left;
  color: var(--error);
  font-size: small;
  margin-top: 0.1rem;
  line-height: 1rem;
}

/* FOOTER */

footer {
  background-color: var(--sec-bgc);
  color: var(--sec-color);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.socials {
  display: flex;
  gap: 2rem;
}

.socials li {
  list-style: none;
}

.socials li a {
  text-decoration: none;
  color: var(--sec-color);
  background-color: var(--thi-bgc);
}

#copyright {
  font-size: 1rem;
}

/* TOAST */

.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  z-index: 1000;
  text-align: center;
  font-size: medium;
}

.toast.show {
  opacity: 1;
}

@media (max-width: 1200px) {
  .container {
    padding: 1.2rem 12rem;
  }
}

@media (max-width: 1070px) {
  .container {
    padding: 1.2rem 10rem;
  }
}

@media (max-width: 1024px) {
  .menu-button {
    display: block;
  }

  #main-menu {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;
    background-color: var(--sec-bgc);
    color: var(--sec-color);
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.2rem;
    z-index: 1001;
    gap: 8rem;
  }

  #main-menu.active {
    right: 0;
  }

  .menu-close-button {
    display: block;
    top: 1.2rem;
    right: 10rem;
  }

  .logo-mobile {
    display: flex;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
  }

  .menu-item:hover {
    font-size: larger;
    font-weight: bold;
  }

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .overlay.active {
    display: block;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0.8rem 4.8rem;
  }

  #main-menu {
    padding-top: 1.3rem;
  }

  .menu-close-button {
    top: 1.2rem;
    right: 4.8rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.8rem 3.6rem;
  }
  .menu-close-button {
    top: 0.8rem;
    right: 3.6rem;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0.8rem 2.4rem;
  }
  .menu-close-button {
    top: 0.8rem;
    right: 2.4rem;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0.8rem 1.2rem;
  }

  .menu-close-button {
    top: 0.8rem;
    right: 1.2rem;
  }
}
