* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Backgrounds */
  --main-bgc: #fefefe;
  --sec-bgc: #945a9a;
  --thi-bgc: #e5d2e6;

  /* Text colors */
  --main-color: #000000;
  --sec-color: #ffffff;

  /* Alerts */
  --success: #2dd912f2;
  --error: #cc2727f2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: clamp(1.6rem, 1.18vw, 1.9rem);
  line-height: 2.5rem;
  font-style: normal;
  background-color: var(--main-bgc);
  color: var(--main-color);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 15rem;
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--sec-bgc);
}

#header {
  flex-direction: row;
  justify-content: space-between;
}

#header img {
  width: 10%;
  height: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.projects {
  background-color: var(--thi-bgc);
}

.contact {
  background-color: var(--thi-bgc);
}

footer {
  background-color: var(--sec-bgc);
}

@media (max-width: 1200px) {
  .container {
    padding: 1.2rem 12rem;
  }
}

@media (max-width: 1070px) {
  .container {
    padding: 1.2rem 10rem;
  }
}

@media (max-width: 1000px) {
  .container {
    padding: 0.8rem 4.8rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0.8rem 3.6rem;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0.8rem 2.4rem;
  }
}

@media (max-width: 380px) {
  .container {
    padding: 0.8rem 1.2rem;
  }
}
